@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

body{
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    color: white;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}

input:nth-child(-n + 8){
    border-radius: 8px;
    width: 15rem;
    line-height: 2rem;
    margin: 3px;
    text-align: center;
    font-style: italic;
    border: solid 3px grey;
}

button{
    border-radius: 8px;
    width: 5rem;
    line-height: 1.8rem;
    margin: 3px 45px 3px 3px;
    text-align: center;
    border: none;
    box-shadow: 1px 1px 8px rgb(156, 155, 155);
    color: rgb(255, 255, 255);
    font-size: 13px;
    background-color: grey;
    cursor: pointer;
}

label{
    margin: 5px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

#comCarencia{
    cursor: pointer;
}

#listaSuspensa{
    border-radius: 4px;
    width: 7rem;
    line-height: 2.1rem;
    padding: 5px;
    text-align: center;
    border: solid 3px grey;
    cursor: pointer;
}

table, th, td{
    margin: 0 auto;
    border: solid 1px grey;
    color:#05848d;
    background-color: aliceblue;
    font-weight: bold;
    border-collapse: collapse;
    padding: 10px;
}